* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}
.title_wrapper {
  background-color: #007fff;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  padding: 20px;
  flex: 1;
}

.image-wrapper {
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  position: absolute;
  top: 45px;
}

.title.satu {
  flex-grow: 3;
  max-width: 200px;
}

.title.dua {
  flex-grow: 7;
  padding-left: 20px;
}

.title.dua h1 {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
}

.title.dua p {
  color: white;
  padding-bottom: 20px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
}

.btn {
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
}

.download {
  background-color: white;
  margin-right: 20px;
}

.hire {
  background-color: #5cdb5c;
  color: white;
}

.submit {
  background-color: #24a0ed;
  color: white;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.about_me {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  border-bottom: 1px solid;
  border-color: #b3aeb5;
}

.description {
  padding: 20px;
  flex: 1;
}

.description.satu {
  flex-grow: 6;
}

.description.satu h1 {
  padding-bottom: 20px;
}

.description.dua {
  margin-top: 20px;
  flex-grow: 1;
  margin-left: 78px;
}

.description.tiga {
  margin-top: 20px;
  flex-grow: 3;
}

.contact_me {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-bottom: 30px;
  border-bottom: 1px solid;
  border-color: #b3aeb5;
}

.contact {
  padding: 20px;
}

.contact.satu {
  flex-grow: 6;
}

.contact.satu h1 {
  padding-bottom: 20px;
}

.identity {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 20px;
}

.identity-input {
  flex: 1;
  margin-right: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 6x;
  border-radius: 5px;
  border-color: #d1d1d1;
  background-color: #d1d1d1;
}

.message {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.identity-message {
  flex: 1;
  padding-top: 4px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border-color: #d1d1d1;
  background-color: #d1d1d1;
}

.contact.dua {
  margin-top: 50px;
  flex-grow: 4;
}

.gap {
  margin-bottom: 10px;
}
